/build/*
/moc_buttonwidget.cpp
/moc_dualbutton.cpp
/moc_lcd.cpp
/moc_lcddisplayarea.cpp
/moc_ledbutton.cpp
/moc_ledstrip.cpp
/moc_mainwindow.cpp
/moc_motionsensor.cpp
/moc_oled.cpp
/moc_predefs.h
/moc_relay.cpp
/moc_sensor.cpp
/moc_sensorinterface.cpp
/moc_serverthread.cpp
/moc_touchpad.cpp
/qrc_images.cpp
/ui_lcd.h
/ui_ledbutton.h
/ui_ledstrip.h
/ui_mainwindow.h
/ui_motionsensor.h
/ui_oled.h
/ui_poti.h
/ui_relay.h
/ui_sensor.h
/ui_touchpad.h
/ui_dualbutton.h
